/* start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
}

/* end Global Rules */
.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* small */
@media(min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* mediem */
@media(min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large  */
@media(min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* end Global Rules */
/* start header  */
.header {
    padding: 20px;
    background-color: #f6f6f6;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 70px;
}

.header .links {
    position: relative;
    
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
}

.header .links .icon span:first-child {
    height: 2px;
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    height: 2px;
    width: 60%;
}

.header .links .icon span:last-child {
    height: 2px;
    width: 100%;
}

.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links:hover ul {
    display: block;
}

.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}

.header .links ul li a:hover {
    padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}

.header .container .links ul li a:hover {
    color: rgb(13, 196, 171);
}

/* end header  */
/* start landing */
.landing .container {
    padding-top: 100px;
}

.landing .container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media(max-width: 991px) {
    .landing .container {
        flex-direction: column;
        text-align: center;
    }
}

.landing .container .image {
    position: relative;
}

@media(max-width: 991px) {
    .landing .container .image {
        margin: 0 auto 60px;
    }
}

.landing .container .image img {
    max-width: 100%;
}

.landing .container .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(85% + 80px);
    z-index: -1;
    top: -80px;
    left: -20px;
}

.landing .container .image::after {
    content: "";
    top: -50px;
    position: absolute;
    width: 130px;
    height: 270px;
    border-bottom: 60px solid rgb(13, 196, 171);
    border-left: 80px solid rgb(13, 196, 171);
    z-index: -1;
    right: -150px;
}

.landing .container .text {
    padding-top: 1px;
    flex: 1;
    padding-left: 200px;
}

.landing .container .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
    color: black;
    /* background-color: #ebeced; */
}

.landing .container .image-1 {
    position: relative;
    margin-top: 25px;
}

@media(max-width: 991px) {
    .landing .container .image-1 {
        margin: 0 auto 60px;
    }
}

.landing .container .image-1::before {
    content: "";
    position: absolute;
    background-color: #f89e55;
    width: 100px;
    height: calc(85% + 80px);
    z-index: -1;
    top: -28px;
    left: -25px;
}

.landing .container .text-1 {
    padding-top: 1px;
    flex: 1;
    padding-left: 200px;
}

.landing .container .text-1 p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
    color: black;
}

.landing .container .image-2 {
    position: relative;
    margin-top: 55px;
}

@media(max-width: 991px) {
    .landing .container .image-2 {
        margin: 0 auto 60px;
    }
}

.landing .container .image-2::after {
    content: "";
    top: -50px;
    position: absolute;
    width: 130px;
    height: 290px;
    border-bottom: 60px solid rgb(13, 196, 171);
    border-left: 80px solid rgb(13, 196, 171);
    z-index: -1;
    right: -150px;
}

.landing .container .text-2 {
    padding-top: 1px;
    flex: 1;
    padding-left: 200px;
}

.landing .container .text-2 p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
    color: black;
}

/* end landing */
/* start our Services     */
.Services {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ebeced;
}

.special-heading {
    color: #c7cfd6;
    font-size: 100px;
    text-align: center;
    margin: 0;
    font-weight: 800;
    letter-spacing: -3px
}
.Services.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 50px;
}
.Services .sur-con .feat {
    padding: 20px;
    text-align: center;
    flex: 1;
    width: 320px;
    padding-right: 40px;
    margin-right: 30px;
}
.Services .sur-con .feat i {
    color: rgb(13, 196, 171);
    flex-basis: 60px;
    margin-bottom: 30px;
}
.Services .sur-con .feat h3 {
    font-weight: 800;
    margin: 80px 0;
    text-align: center;
}
.special-heading +p {
    margin: -25px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
    line-height: 1.6;
    justify-content: flex-start;
}

.Services .sur-con {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 40px;
}
.Services .sur-con .feat h3 {
    margin: 0 0 20px;
}

.Services .sur-con .feat  p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
    font-size: 17px;

}

.Services .sur-con img {
     width: 400px;
     height: 300px;
     opacity: 1;
     border-radius: 50%;
     padding-right: 30px;
     overflow: hidden;
}

.border {
    background-color: #b8b1b1;
    border-radius: 50%;
    width: 400px;
    height: 300px;
    padding: 40px;
    margin: auto;
    margin-top: -50px;
    
}

.Services .sur-con .img .border {
    color:  rgb(216, 21, 21);
    font-size: 45px;
    font-style: italic;
    font-family: cursive;
    text-decoration: none;
    font-weight: 800px;
    letter-spacing: 1px;
}

.Services .sur-con:hover img {
    /* -webkit-transform: scale(1.2) ;
    -moz-transform: scale(1.2) rotate(10deg);
    -o-transform: scale(1.2) rotate(10deg);
    transform: scale(1.2)  rotate(10deg); */
    transform: rotate(2deg) scale(1.1);
}

/* End our Services */
.opening-hours {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .opening-hours h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .opening-hours ul {
    list-style: none;
    margin: left;
    padding: 0;
    

  }
  
  .opening-hours li {
    font-size: 18px;
    margin-bottom: 5px;
    
  }
/* start footer */
.footer {
    background-color:#14304b ;
    color: white;
    padding: 80px 10px 30px;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    margin-top: 50px;
}
.footer .link {
    color: #858585;
    font-weight: 400;
    font-size: 35px;
    display: block;
    text-decoration: none;
    padding-bottom: 20px;
}
.footer .social {
    padding-bottom: 20px;
    font-size: 17px;
    width: 1500px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white; 
}
.footer .social i {
    color: rgb(13, 196, 171);
}
.footer span {
    color: rgb(13, 196, 171);
    font-weight: bold;
    font-size: 25px;
  
}

/* end footer */
