{% extends 'base.html'%}
{% load static%}
{% block content %}
<link rel="stylesheet" href="css/all.min.css">
<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Open+Sans:wght@400;700&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">

<div class="Services">
<div class="container">
    <h2 class="special-heading"> Our Services</h2>
    <p>We provide the best services</p>
    <div class="sur-con">
        <div class="feat">
            <i class="fa-solid fa-teeth-open fa-Shake fa-2xl"></i>
            <h3>Cavity preparation</h3>
            <p>When teeth develop carious lesions or undergo fracture or loss of substance due to
                abrasion or erosion, cavity preparation is warranted. This will permit placement of a
                material that will restore the tooth’s original form and function. Cavity preparation
                designs vary according to extent of damage and the type of restorative material to be
                used.Special drilling instruments are used at varying speeds in combination with hand
                instruments for cavity preparation.</p>
        </div>
        <div class="feat">
            <i class="fa-solid fa-syringe fa-flip fa-2xl"></i>
            <h3>Teeth extraction</h3>
            <p>Tooth loss is one of the main indicators of oral health in a population and is one of the
                favorite variables considered in much research [1]. The study of missing teeth in a
                population can be useful to determine whether the level of oral hygiene is good or if
                oral care is adequate and accessible [2,3]. An evaluation of proper hygiene education
                and environment-related issues can be made when comparing the dental records of
                different population groups.</p>
        </div>
        <div class="feat">
            <i class="fa-solid fa-tooth fa-fade fa-2xl"></i>
            <h3>Teath bleach</h3>
            <p>Despite the large number of techniques described in the literature concerning the
                external bleaching of vital teeth, all are based on the direct use of hydrogen peroxide.
                Minoux and Serfaty recognize that tooth whitening is a very complex process that depends
                on several factors: 1) the pH of the bleaching agent, 2) the method of application and
                thickness of the bleaching agent to the enamel, 3) the fluctuation of irradiation, 4)
                length of photoactivation, 5) tooth size, 6).</p>
        </div>

        <div class="feat">
            <i class="fa-solid fa-teeth fa-beat fa-2xl"></i>
            <h3>Teeth orthodontics</h3>
            <p>The specialty of orthodontics relates to facial and occlusal development and involves the
                supervision, interception, and correction of occlusal and dentofacial anomalies known as
                malocclusion. Malocclusion is a term which refers to malalignment of teeth and incorrect
                relationship between the upper and lower arches.[1] Patients with malocclusion have no
                specific
                signs and symptoms, but may complain about esthetics, difficulty with speech, and
                mastication.
            </p>
        </div>

        <div class="feat">
            <i class="fa-solid fa-square-plus fa-spin fa-2xl"></i>
            <h3>Gum care</h3>
            <p>Healthy gums are important for a healthy mouth and a healthy body. Gums, and the jawbone
                underneath, are very important for supporting and nourishing the teeth. Healthy gums also
                contribute to good looks.By arming yourself with the right dental
                products and by using them every day, having regular check-ups, and being aware of how your
                oral
                health relates to overall health, you’ll be well on your way to healthier teeth and gums –
                and a
                healthier you.
            </p>
        </div> 
        
        <div class="img">
            <img src="{%static 'images/logo-3.jpg'%}" alt="">
            <div class="border">
                <h6> We Strive To Keep Your Teeth Healthy </h6>
                </div>
        </div>

    </div>
</div>
</div>
{% endblock content %}