{% load static%}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Authentication</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/profile.css'%}">
    </head>
    <body>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Message:</strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor%}
   

        <center> <h2>Welcome</h2></center>
    <div class="login-container">
             <form action="/signin" method="post"> 
                {% csrf_token %}
               
                <label for="">Username :</label>
                <input type="text" id ="username" name="username" placeholder="Enter Your Username" required>
                <br>
                <label for="">Password :</label>
                <input type="password" id ="pass1" name="pass1" placeholder="Enter Your Password" required>
                <br>
                <button type="submit" >SignIn</button>
                <h5><a href="{% url "password_reset" %}">Forgot your Password?</a></h5>
                <br>
                </form>
                
             
        <form action="/signup">
        <p>Register as a new user .</p>
        <button type="submit"> SignUp</button>
            </form>
        
    </div>

        
        <script src="" async defer></script>
    </body>
</html>