{% load static%}
<link rel="stylesheet" href="{% static 'css/style.css'%}">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Open+Sans:wght@400;700&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap"
    rel="stylesheet">    
<div class="footer">
    <p><span>Al-Mahalah El-Kubra, Al-Sayyad Street</span></p><br>
    <a href="mailto:Leonagency@mail.com?subject=Contact" class="link">Teeth-Lap @mail.com</a>
    <div class="social">
        Find Us On Social Networks
        <a href=""><i  class="fab fa-youtube"></i></a>
        <a  href=""><i  class="fab fa-facebook-f"></i></a>
        <a  href=""><i  class="fab fa-twitter"></i></a>
    </div>
    &copy; 2023 <span style="color: rgb(190, 32, 32);">Teeth Lap</span> Dental Care
</div>


